# 项目相关配置
server-config:
  # 名称
  name: server
  # 版本
  version: 0.0.0
  # 版权年份
  copyrightYear: 9999
  # 文件路径 示例（ Windows配置D:/server/uploadPath，Linux配置 /home/server/uploadPath）
  profile: ${server-config.profile}
  # 获取ip地址开关
  addressEnabled: ${server-config.addressEnabled}
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: ${server-config.captchaType}
  # 文件项目根目录化
  pathRoot: ${server-config.pathRoot}

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: ${server.port}
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.server: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: ${user.password.maxRetryCount}
    # 密码锁定时间（默认10分钟）
    lockTime: ${user.password.lockTime}

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: dev,druid
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 200MB
      # 设置总上传的文件大小
      max-request-size: 1000MB
  # redis 配置
  redis:
    # 地址
    host: ${redis.host}
    # 端口，默认为6379
    port: ${redis.port}
    # 数据库索引
    database: ${redis.database}
    # 密码
    password:
    # 连接超时时间
    timeout: ${redis.timeout}
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
  # 邮箱配置
  mail:
    # 邮箱服务
    host: ${mail.host}
    # 邮箱账号
    username: ${mail.username}
    # 授权码
    password: ${mail.password}
    # 安全连接
    properties:
      mail:
        smtp:
          ssl:
            enable: true
  # RabbitMQ配置
  rabbitmq:
    host: ${rabbitmq.host}
    port: ${rabbitmq.port}
    username: ${rabbitmq.username}
    password: ${rabbitmq.password}
    template:
      default-receive-timeout: ${rabbitmq.timeout}
      retry:
        enabled: true
        max-attempts: 3
      custom-connection-factory:
        cache-mode: CHANNEL
        publisher-confirms: true


# token配置
token:
  # 令牌自定义标识
  header: ${token.header}
  # 令牌密钥
  secret: ${token.secret}
  # 令牌有效期（默认30分钟）
  expireTime: ${token.expireTime}

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.server.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# MyBatis-Plus配置
mybatis-plus:
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 大驼峰
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: none

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: ${swagger.enabled}
  # 请求前缀
  pathMapping: ${swagger.pathMapping}

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*

# MQTT 配置 (使用RabbitMQ的MQTT插件)
mqtt:
  server-uri: ${mqtt.server-uri}
  client-id: ${mqtt.client-id}
  username: ${mqtt.username}  # RabbitMQ默认用户名
  password: ${mqtt.password}  # RabbitMQ默认密码
  default-topic: ${mqtt.default-topic}
  completion-timeout: ${mqtt.completion-timeout}

# MQTT客户端 接收光照
mqttclient:
  mqttbroker: ${mqttclient.mqttbroker}
  lighttopic: ${mqttclient.lighttopic}
  username: ${mqttclient.username}
  password: ${mqttclient.password}


# 区块链
fisco:
  enabled: ${fisco.enabled}

# 溯源地址
codepath: ${codepath.path}

# 实时模型单机控制
online:
  enabled:  ${online.enabled}

